body {
  align-items: center;
}

.app {
  text-align: center;
  background: lightgray;
  /* padding: 0.5rem; */
}

.header {
  background: darkgray;
}

.todo-list {
  background: gray;
}

.todo {
  background: slategray;
  /* padding: 1rem 0; */
}

.todo#todo-body {
  /* margin-top: 0.5rem; */
}

.new-todo-form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* width: 50%; */
  background: cyan;
  padding: 0.5rem 0;
}

.new-todo-form-child {
  /* flex: 0 0 50%; */
  width: 50%;
}